<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
  th:replace="~{layout/layout-admin :: layout(~{::head},~{::main})}">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link rel="stylesheet" href="/css/admin/visual/default.css">
</head>
<body>
	<main>
		<h1>관리자메인</h1>
		<div class="wrap">
			<div class="memo">
				<div class="sq">
				<br><p>공지사항</p>
					<ul>
						<li>관리자페이지관리방법</li>
						<li>공지사항1</li>
						<li>공지사항2</li>
					</ul>
				</div>
			</div>
		</div>
		<div class="footer">
			<div class="wrap flex center">
			   	<div class="copyright">
			   		Copyright © Paradise Corp. All Rights Reserved.
		   		</div>
			</div>
		</div>
	</main>
</body>
</html>