<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
th:replace="~{layout/layout2 :: layout(~{::head},~{::main})}">
<head>
	<link rel ="shortcut icon" href="/images/icon/faviconStar.png">
	<link rel="stylesheet" href="/css/sign/signin.css">
	<meta name="_csrf" content="${_csrf.token}"/>
	<meta name="_csrf_header" content="${_csrf.headerName}"/>
</head>
<main>
	<h1>메인컨텐츠</h1>
	<div class="loginWrap center">
		<div class="logos  center">
			<a class="imgLogo" href="/"></a>
		</div>
		<div class="center " th:if="${param.error}">
			<span class="error">이메일 또는 비밀번호를 확인하세요</span>
		</div>
		<div>
			<form action="/signin" method="post">
				<!-- form에 대해서 공부필요 -->
				<div>
					<div class="ip">
						<input type="text" name="email" id="logId" placeholder="email">
						<!-- input 타입은 id적 속성도 있다.  -->
					</div>
					<div class="ip">
						<input type="password" name="pass" placeholder="비밀번호">
					</div>
				</div>
				<div class="mar flex between">
					<div>
						<!--체크박스-->
						<input class="check1 save-id" type="checkbox" name="remember-me" id="remember-me"> 
						<label for="remember-me">로그인 상태 유지</label>
						<!-- for="cb"연결함으로 로그인상태유지문자를 클릭해도 체크박스 체크  -->
					</div>
					<div>
						<a href="#">아이디 찾기&nbsp; </a> <a href="#">비밀번호 변경</a>
					</div>
				</div>
				<div>
					<input type="hidden" th:name="${_csrf.parameterName}"
						th:value="${_csrf.token}">
					<button type="submit" class="btn-st">로그인</button>
				</div>
			</form>
				<script type="text/javascript">
				</script>
			<div class="svs">
				<ul class="find_inf flex center">
					<li><a href="/oauth2/authorization/kakao"><i></i><span>카카오</span></a></li>
					<li><a href="/oauth2/authorization/naver"><i></i><span>네이버</span></a></li>
					<li><a href="/oauth2/authorization/google"><i></i><span>구글</span></a></li>
				</ul>
			</div>
		</div>
	</div>
</main>
</html>