
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
  th:replace="~{layout/layout1 :: layout(~{::head},~{::main})}">
<head>
<link rel="stylesheet" href="/css/admin/goods/write.css">
</head>
<main>
	<h1>상품 디테일페이지</h1>
	<div class="wrap">
		<section id="goods-reg">
			<div class="wrap">
				<p>상품리스트</p>
				<ul th:each="dto:${detail}" class="flex">
					<li >
						<th:block th:each="f:${dto.files}">
						<img th:if="${f.isDefImg}" alt="대표이미지" height="500px" 
							th:src="${f.url+f.orgName}">
						</th:block>	
						<div>
							<th:block th:each="f:${dto.files}">
							<img th:unless="${f.isDefImg}" alt="추가이미지" height="500px" 
								th:src="${f.url+f.orgName}">
							</th:block>	
						</div>
					</li>
					<li>[[${dto.goodsName}]]</li>
					<li>[[${dto.price}]]</li>
					<li>[[${dto.sale}]]</li>
					<li>[[${dto.stock}]]</li>
					<li>[(${dto.content})]</li>
				</ul>
			</div>
		</section>
	</div>
</main>
</html>